#jumbo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #17a2b8;
    background-color: rgb(49, 49, 49);
}
#description {
    font-size: large;
}
table,th,td,tr {
    color: rgb(0, 0, 0);
    border: 4px solid #17a2b8;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    border-style: groove;
}
#body{
    background-color: #f6f6f6;
}
.col{
    padding: 10px;
}